@charset "UTF-8";

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

img {
    width: 100vw;
}

a {
    display: block;
    background-color: #8b0000;
    color: #ffffff;
    padding: 20px;
    text-align: center;
    font-weight: bolder;
    text-decoration: none;
}

a:hover {
    background-color: #ff0000;
}